.info {
  height: 150px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoLeft {
  width: 200px;
  margin-left: 10px;
}

.sales {
  color: #960909;
  font-size: 25px;
}

.phoneNumber {
  font-size: 20px;
}

.logo {

}

.infoRight {
  width: 135px;
}

.towing {
  color: #960909;
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #960909;
}

.navLink {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 20px;
}

.navBreak {
  height: 15px;
  width: 2px;
  background-color: white;
}
